Source: grml-live-grml
Section: grml
Priority: optional
Maintainer: Michael Prokop <mika@grml.org>
Build-Depends:
 debhelper-compat (= 12),
Standards-Version: 4.7.0
Homepage: https://grml.org/grml-live/
Vcs-Git: https://github.com/grml/grml-live-grml.git
Vcs-Browser: https://github.com/grml/grml-live-grml
Origin: Grml
Bugs: mailto:bugs@grml.org
X-Style: black

Package: grml-live-addons
Architecture: all
Depends:
 ${misc:Depends},
Recommends:
 grml-live,
Description: templates/arch/*/boot/addons for grml-live
 This package provides the boot addons for usage with grml-live.
 You can safely skip this package if you don't need them.
