#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build: build-arch build-indep

build-arch: build-stamp

build-indep: build-stamp

build-stamp:
	dh_testdir
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	dh_clean
	# clean up the stuff dh_clean leaves behind
	-rm -rf debian/build

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	# grub files
	install -d debian/tmp/templates/compat/grub
	cp -a /usr/lib/grub/*-pc/*.mod debian/tmp/templates/compat/grub/
	cp -a /usr/lib/grub/*-pc/*.o debian/tmp/templates/compat/grub/
	cp -a /usr/lib/grub/*-pc/*.lst debian/tmp/templates/compat/grub/
	cp -a /usr/share/grub/ascii.pf2 debian/tmp/templates/compat/grub/
	/usr/bin/grub-mkimage -d /usr/lib/grub/*-pc -o \
		debian/tmp/templates/compat/grub/core.img biosdisk iso9660 --format=i386-pc
	# isolinux base files
	install -d debian/tmp/templates/compat/isolinux
	for file in isolinux.bin ifcpu64.c32 vesamenu.c32; do \
		cp -a "/usr/lib/syslinux/$${file}" debian/tmp/templates/compat/isolinux/ ; \
	done
	# others
	install -d debian/tmp/templates/compat/addons
	cp -a /usr/lib/ipxe/ipxe.lkrn debian/tmp/templates/compat/addons/
	cp -a /usr/share/misc/pci.ids debian/tmp/templates/compat/addons/
	cp -a /boot/memtest86+.bin debian/tmp/templates/compat/addons/
	for file in memdisk chain.c32 hdt.c32 menu.c32; do \
		cp -a "/usr/lib/syslinux/$${file}" debian/tmp/templates/compat/addons/ ; \
	done

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_install
	dh_installchangelogs
	dh_installdocs TODO
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
